parameters:
    phpVersion: 80300
    level: 6
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method Respect\\Validation\\Validator::numeric\(\).#'
        - '#Call to function is_int\(\) with int will always evaluate to true.#'
